<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="app.component.css">
	<title>Página Web</title>
</head>
<body>
	<h2>Datos de un Producto </h2>

	<!-- Botón para agregar nuevo producto -->
	<button class="btn-add">Agregar Producto</button>

	<table>
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Acciones</th> <!-- Columna para botones de acción -->
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{product.codigo}}</td>
				<td>{{product.nombre}}</td>
				<td>{{product.precio}}</td>
				<td>
					<!-- Botones de acción (Editar y Eliminar) -->
					<button class="btn-edit">Editar</button>
					<button class="btn-delete">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
